*{
	padding:0;
	margin:0;
}

body{
	font: 12px "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    background-color:#dcdbd9;
	padding: 10px 10px 0 20px;
}


//font

.main-content h3{
	font-size: 14px;
	
}

.official h3 {
  font: 1.2em/1em "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
}

.row a{
	color: #373513;
	text-decoration:none;
}

.row p>a{
	font-size:1em;
	text-transform:uppercase;
}
.row p{
	width:170px;
	font-size: 0.9em;
}

.row h3:hover,.row p>a:hover{
	text-decoration:underline;
}
.header-wrap{
  position: absolute;
  border-left: solid 20px #ccc;
  width: 214px;
  height: 63px;
  background-color: #245554;
  top: 15px;
  left: -20px;
  border-left-color: #3a6665;
}

.header-wrap h1{
	text-indent: -9000px;
	background-color: #245554;
}
.header-wrap p{
	text-indent: -9000px;
}
.header-wrap h1>a{
  display: block;
  width: 214px;
  height: 63px;
  text-indent: -9000px;
  background: url(images/logo.png) no-repeat 25px 21px;
  text-decoration: none;
  overflow: hidden;
}
.header{
	width:960px;
	height:90px;
	text-align:left;
	background-color:#7c7e79;
}

.header-meta{
	  height: 90px;
	  position: relative;
}
.header-nav {
	width: 745px;
	position: absolute;
    top: 9px;
    right: 0;
    height: 90px;
	overflow:hidden;
}

.wrapper-main{
	position:relative;
}
.header ul {
	list-style:none;
	position: absolute;
    width: 345px;
    height: 36px;
	top: 30px;
    right: 25px;
}
.header li{
	width:49px;
	float:left;
	text-align:center;
	padding:0 10px 0 10px;
}
.header a{
	text-transform:uppercase;
	text-decoration:none;
	color:#e0e0e0;
	font-size:12px;
	font-weight:600;
}

.header a:hover{
	color:#fff;
}
.container{
	width:960px;
	height:1200px;
	padding-top:10px;
	background-color:#fff;
}

.wrap1{
	width:960px;
	height:1145px;
	overflow:hidden;
	background-color:#fff;
}

.main-content{
	width:610px;
	height:1135px;
	float:left;
	padding:0px 0px 20px 20px;
	//text-align:center;
	background-color:#fff;
}

.main-title{
	color:#999999;
	font-size:16px;
	font-weight:700;
	font-style:italic;
	font-family: palatino, georgia, serif;
	display:block;
	margin-top:10px;
}

.main-content h2{
	margin-bottom:5px;
	font-family: palatino, georgia, serif;
	font-weight:400;
	font-size:24px;
	color:#5B5920;
}

.main-content p{
	font-size:1em;
}
.page{
	width:600px;
	overflow:hidden;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	font: 12px "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	margin-top:18px;
	margin-bottom:18px;
	background-color:#f6f6f6;
}

.page li{
	//display:inline-block;
	float:left;
	list-style:none;
}
.page a{
	display:block;
	padding:5px 7px;
	margin-top:2px;
	margin-left:5px;
	//width:8px;
	border: solid 1px #ddd;
	color:#000;
    background: #f6f6f6;
	text-decoration:none;
	font-size:12px;
}

.page a:hover{
	background-color:#fff;
}

.arrow a{
	border:none;
}
.arrow a:hover{
	background-color:#f6f6f6;
}
.row{
	height:200px;
	width:645px;
	margin-bottom:12px;
	overflow:hidden;
}

.row li{
	list-style:none;
}
.preview{
	width:170px;
	height:114px;
	position: relative;
	margin-bottom:5px;
	border:thin solid #bebebe;
}
.preview a{
	text-decoration: none;
}
.row img{
	display: block;
	width:160px;
	height:104px;
	padding:4px;
	border:none; /*IE8会有黑框，用于去除黑框*/
	//position:relative;
}
.row span{
	font-size: 0.85em;
	position:relative;
	
}

.row p>span{
	color:#8e8e8e;
}
.view-num {
	display:block;
	font-size:12px;
	margin-top:-20px;
	float:right;
	//background-color:#fff;
	background:url(imags/bg-angle.gif) no-repeat -20px 0;
	padding:3px 7px 3px 20px;
}

.first,.second,.third{
	width:190px;
	height:200px;
	float:left;
}

.zen-footer{
	width:600px;
	height:30px;
	padding-top:10px;
	border-top:1px dotted #ccc;
}

.zen-footer p,a{
	color:#373513;
}
.sidebar{
	width:310px;
	height:1135px;
	float:right;
	//padding-left:10px;
	//padding-right:10px;
	background-color:#dededc;
}

.sidebar h2{
	font-size:14px;
	margin-top:6px;
	margin-bottom:6px;
	color:#5B5920;
}
.sidebar h3{
	margin-top:19px;
	margin-bottom:10px;
}

.zen-rss h2{
	margin-top:12px;
}

.zen-rss p{
	line-height:1.65;
}
.wrapper{
	padding:10px;
}

#search{
	width:190px;
	height:20px;
	margin-right:10px;
	border: solid 1px #ccc;
	float:left;
}

#searchbox label{
	display:none;
}
#searchbox{
	height:100%;
}
.search-btn{
	padding:5px 19px;
	color:#fff;
	background-color:#7e7e7c;
}
.zen-garden{
	height:275px;
	width:280px;
}

.zen-garden li{
	margin-left:15px;
	margin-top:6px;
	list-style-image:url(images/li-sidebar.gif);
}

.zen-rss li{
	list-style:none;
	list-style-image:none;
	margin-top:0.8em;
	margin-left:0;
	background-image:url(images/ico-rssfeed.png);
	background-repeat: no-repeat;
	background-position: left center;
}
.rss-feed{
	display:block;
	padding-left:23px;
    line-height: 1.5;	
}
.zenbook{
	width:280px;
	height:170px;
	margin-top:16px;
	padding:10px 0 10px  10px;
	position: relative;
	background-color:#fff;
}

.zenbook h2{
	font-size:13px;
	font-weight:500;
}

.zenbook h3{
	font-size:1em;
	color:#364126;
}
.zenbook img{
	border:none; /*IE8会有黑框，用于去除黑框*/
	position: absolute;
	top: 10px;
	right: 10px;
}

.get-it{
	margin-top:15px;
}

.get-it span{
	padding-right:3px;
	padding-left:3px;
	color:#dedfdc;
}
.footer{
	width:960px;
	height:50px;
	overflow:hidden;
	background-color:#7c7e79;
}

.footer-info{
	width:475px;
	
	margin:17px 0 17px 25px;
	overflow:hidden;
	float:left;
}
.footer-info p>a{
	font-size:1em;
	color:#fff;
	text-decoration:underline;
}
.footer .media,.footer .media a{
	text-transform:lowercase;
	color:#acafa8;
	font-size:12px;
}

#mobile-info{
	text-decoration:underline;
}
.footer p{
	color:#fff;
}
.footer-nav p>a{
	color:#d0d0d0;
}

.footer-nav{
	padding:15px 15px 15px 15px;
	list-style:none;
	float:right;
}
.footer-nav li{
	float:left;
	border-left:1px solid #4f4f4f;
	text-align:center;
	padding-left:10px;
	padding-right:10px;
}

#footer-list1{
	border-left:none;
}
.footer a{
	text-transform:uppercase;
	text-decoration:none;
	color:#fff;
	font-weight:500;
}

.footer a:hover{
	text-decoration:underline;
}